p{
	margin-top: 12px;
}

/******** Barra de Inicio ********/

/*Cognits Blog*/
.inicio{
	margin-left: 15px;
	color: #585858;
}

/*Home*/
.inicio1{
	margin-top: -30px;
	margin-left: 1160px;
	color: #585858;
}

/*Search*/
.inicio2{
	margin-top: -30px;
	margin-left: 1240px;
	color: #585858;
}


/********** Titulo del Blog ********/
/*Div del Cognits Blog*/
div{
	margin-top: -19px;
}
.parte2{ /*Div del Cognits Blog*/
	width: 1301px;
	height: 130px;
	background-color: #F9F5F5;
	font-size: 16px;
}
/* Espacio en blanco*/
.nota0{
	font-size: 10px;
	color: #F9F5F5 ;
}
/*Cognits Blog*/
.nota1{
	margin-left: 300px;
	font-size: 38px;
}
/*Texto*/
.nota2{
	font-size: 18px;
	margin-left: 300px;
}

/******* Div del Post 1 y 2 ******/
.posts{
	font-color: #0080FF;
}

div  h1{
	color: #0080FF;
	margin-left: 300px;
}
/*Noticias de los 2 post*/
.noticia{
	color: #0080FF;
	margin-left: 300px;
}

/*Linea divisoria post 1 - post2 */
.divs{
	width: 700px;
	height: 1px;
}

/*Boton1*/
.boton1{
	margin-top: 10px;
	margin-left: 880px;
	border: 2px solid #F2F2F2;
	height: 30px;
	width: 120px;
	border-radius: 20px;
	color: #0080FF;
}
.but{
	margin-top: -10px;
	margin-left: 15px;*/
}

/********** Creditos ********/
.hrcred{
	margin-top: 20px;
}
.creditos{
	margin-left: 300px;
}